<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Contact Us</title>
    <link rel="stylesheet" href="/cssFiles/background.css">
</head>
<body>
    <div class="banner">
      <%- include('navbar') %>

          <h1>Contact us</h1>
          <div class="container" style="margin: 0 300px;">
            <div class="row">
                <div class="col-sm-3">
                  <div class="card" style="height: 250px;" >
                    <div class="card-body">
                      <h5 class="card-title">Got any questions or troubles?</h5>
                      <p class="card-text">go ahead and give us a call </p>
                      <p class="card-text">on (00)-1234567</p>
                      <p class="card-text">or tell us your thoughts</p>
                      <p class="card-text">on cieygmautanya@jmail.com</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
  
        

    <%- include('link') %>
    </div>
</body>
</html>