<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Document</title>

    <link rel="stylesheet" href="/cssFiles/background.css">
</head>
<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/menus" style="font-weight: bolder; color: gold; font-size: 25px;">MakkKu</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        </div>
          <div class="d-flex flex-row-reverse">
            <a class="btn btn-outline-success" aria-current="page" href="/contactus">Contact Us</a>
          </div>
    </div>
  </nav>

    <div class="banner">
        
      <div class="center2">
        <div class="card" style="width: 26rem;">
            <img src="/cssFiles/welcome.jpg" class="card-img-top" alt="WELCOME">
            <div class="card-body">
              <h5 class="card-title">Welcome to Makku</h5>
              <p class="card-text"></p>
              <a href="/users/register"><button class="btn btn-primary btn-lg"  >Register</button></a>
              <a href="/users/login"><button class="btn btn-secondary btn-lg" >Sign in</button></a>
              
            </div>
        </div>
    </div>

    <%- include('link') %>
    </div>
</body>
</html>