<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Document</title>

    <link rel="stylesheet" href="/cssFiles/background.css">
</head>
<body>
    <div class="banner">
      <%- include('navbar') %>
        
      <div class="center2">
        <div class="card" style="width: 26rem;">
            <img src="/cssFiles/sad.jpg" class="card-img-top" alt="Logout">
            <div class="card-body">
              <h5 class="card-title">Logout</h5>
              <p class="card-text">Confirm your log out... </p>
              <a href="/logout"><button class="btn btn-primary btn-lg">LOGOUT</button></a> 
            </div>
        </div>
    </div>

    <%- include('link') %>
    </div>
</body>
</html>