<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Document</title>
    <link rel="stylesheet" href="/cssFiles/background.css">
</head>
<body>
    <div class="banner">
    
    <div class="center2">
        <div class="card" style="width: 18rem;">
            <img src="/cssFiles/thanks.jpeg" class="card-img-top" alt="BERHASIL">
            <div class="card-body">
              <h5 class="card-title">Transaction Succes</h5>
              <h6>you received : <%= receivedPoints %> points</h6>
              <p class="card-text"></p>
              <a href="/menus" class="btn btn-primary">back to MENU</a>
            </div>
        </div>
    </div>
        
     

    <%- include('link') %>
    </div>
</body>
</html>